
/*
=========================================================================================
Project Name: No Ink No Pen Site CSS Sheet
Project Description: Create CSS Sheet for No Ink No Pen Website
Date: 11/5/2021
Programmer Name: Suki Chen and Jin Zhang
=========================================================================================
*/

/* jz Format background color, width, font type, and margin */
body{
	max-width: 120em;
	background-color:#F9F9F9;			
	font-family: 'Cinzel', serif;		
	margin: auto;
}

/*jz Format the links */
a{
	color: #0B4B2B;
	text-decoration: none;
}

/*jz Spacing out tables (specifically bestsellers) */
th{
	padding: 2em;
	margin: auto;
}

/*jz Format body of the page */
.logo{
	max-width: 100%;
	background-color: #a5d2b9;
}

/*jz Format logo size and location on the page */
.logo-image{
	width: 16%;
	min-width: 10em;
	max-width: 50em;
	height: auto;
	margin: auto;
	display: block;
}

/*jz Organizes the navigation bar in a grid format */
.navbar{
	min-width: 12em;
	max-width: 60em;
	margin: auto;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
}

/*jz Affects the centering, size of navigation bar text and responsiveness*/
.navbar > a {
	text-align: center;
	font-size: calc(12px + 0.5vw);
	font-weight: bold;
}

/*jz Format the header image on the page */
.header{
	width: 100%;
	min-width: 12em;
	max-width: 60em;
	height: auto;
	margin: auto;
	display: block;
}

/*jz Centering and coloring the slogan and principles */
.slogan {
	max-width: 60em;
	margin: auto;
	display: block;
	background-color: #a5d2b9;
}

/* jz making the text responsive */
.slogan > h1 {
	color: #0B4B2B;
	text-align: center;
	font-size: calc(14px + 1vw);
	font-weight: bold;
	
}

/* jz making image responsive */
.bestsellers {
	display: flex;
	flex-wrap: wrap;
}

/* jz link outsite the website */
.reddit-link > h2 > a {
	text-decoration: underline;
}

/* sc To scale images to the page */
.scale-image{
	display: block;
	max-width:100%;
	margin: auto;
	height: auto;
}

/*sc Format the contact information section using a grid layout */
.footer{
	color: #0B4B2B;
	background-color: #a5d2b9;	
	display: grid;
	grid-template-columns: auto auto;
	margin: auto;
}

/* sc To format text within footer section - specify width to be relative to 25 times the font-size */
.footer-item{
	text-align:left;
	max-width:100%;
	margin-left: auto;
	margin-right:auto;
	width: 25em;
}

/* jz removes the dots for unordered list */
.footer-item > ul{
	list-style: none;
}

/* jz making the footer responsive to width */
@media only screen and (max-width: 600px) {
	.footer {
		grid-template-columns: auto;
		margin: auto;
	}
}

/* jz about us content container */
.about-us {
	background-color: #a5d2b9;
	min-width: 12em;
	max-width: 60em;
	margin: auto;
}

/* jz centering about us h1 */
.about-us > h1 {
	text-align: center;
}


/* jz about us ending message  */
.end-message {
	text-align: center;
	color: #a5d2b9;
	min-width: 12em;
	max-width: 60em;
	margin: auto;
}

/* jz gel pen content container */
.gel {
	min-width: 12em;
	max-width: 60em;
	margin: auto;
}

/* jz fountain pen content container */
.fountain {
	min-width: 12em;
	max-width: 60em;
	margin: auto;
}

